/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/.vs/
/.vscode/
/UnityPackageManager/
Logs/*
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.d
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pidb.meta
sysinfo.txt